@{
    ViewBag.Title = "Principal";
}

<br />
<div class="row">
    <div class="col-md-12">
        <div class="ribbon-wrapper card">
            <div class="ribbon ribbon-bookmark ribbon-success">Bienvenid@@</div>
            <p class="ribbon-content"><b>Sistema de Información para la Gestión de Proyectos de Desarrollo - SIPRO</b></p>
        </div>
        <!-- /.box -->
    </div>
</div>



<div class="card card-outline-inverse">
    <div class="card-header">
        <h4 class="m-b-0 text-white">¿Como registrar un proyecto?</h4>
    </div>
    <div class="card-body">
        <h3 class="card-title">Pasos a seguir</h3>
        <div class="box-body text-justify">
            <span><b>1. </b>Identifique la opción <b>"Lista de Proyectos"</b>, la cual se encuentra en la parte izquierda de la pantalla, De clic en Gestión para desplegar el menú.</span><br /><br />
            <span><b>2. </b>Haga clic en la opción <b>"Agregar Proyecto"</b></span><br /><br />
            <span><b>3. </b>En el formulario podrá observar 4 campos de información.</span><br /><br />
            <span><b>4. </b>Digite el nombre del proyecto.</span><br /><br />
            <span><b>5. </b>Luego, describa de manera general la funcionalidad del sistema.</span><br /><br />
            <span><b>6. </b>Después, digite el acrónimo del sistema y seleccione la unidad a la que pertenece el proyecto.</span><br /><br />
            <span><b>7. </b>Finalmente debe dar clic en el botón <span class="label label-success">Crear Proyecto</span></span><br /><br />
        </div>
    </div>
</div>

